* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fff;
  --text-color: #222;
}

body {
  width: 100%;
  text-align: center;
  font-family: Georgia, serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 15vh;
}

ul {
  display: flex;
  gap: 10px;
  justify-content: center;
}

ul > li {
  list-style: none;
}

li > a {
  text-decoration: none;
}

section {
  margin: 0% 5% 10% 5%;
}

#img-section img {
  border-radius: 10px;
  width: 70%;
}

#img-section p {
  font-style: italic;
  opacity: 0.7;
  font-size: 0.9rem;
  margin-top: 5px;
}

section h2 {
  margin-bottom: 4%;
}

section p:not(.description) {
  text-align: left;
  margin-bottom: 10px;
}

footer {
  font-style: italic;
  opacity: 0.7;
}

@media (min-width: 768px) {
  #main-img img {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #main-img img {
    width: 20%;
  }
  section {
    margin: 5%;
  }
  section h2 {
    margin-bottom: 3%;
  }
  section p {
    width: 50%;
    margin: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222;
    --text-color: #fff;
  }
}
